@model IEnumerable<deneme_projesi.Models.BlogModel>
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>
    Hoşgeldiniz  <p>
    @ViewBag.kullanıcıadi
    
</p>
    
</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="container">



            <div class="alert alert-info">
                Onay bekleyen bloglar
            </div>
            @foreach (var item in Model)
            {
                if (item.Onay == false)
                {
                    <div class="blog">
                        <h3 class="page-item">
                            @item.baslik
                        </h3>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                            </svg>
                            @item.EklenmeTarihi
                        </p>
                        <hr />
                        <img class="img-fluid" src="http://via.placeholder.com/250x100" alt="..." />

                        <p>
                            @item.Aciklama
                        </p>
                        @Html.ActionLink("Düzenle ", "Edit", "Blog", new { id = item.Id }, new { @class = "btn btn-warning" })
                        <hr />
                        @*<button class="btn btn-primary">Daha Fazla...</button>*@
                    </div>

                }
            }
        </div>
    </div>
    <div class="col-md-6">
        <div class="container">

            <div class="alert alert-info">Anasayfa onayı bekleyen bekleyen bloglar</div>


            @foreach (var item in Model)
            {
                if (item.Anasayfa == false)
                {




                    <div class="blog">
                        <h3 class="page-item">
                            @item.baslik
                        </h3>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                            </svg>
                            @item.EklenmeTarihi
                        </p>
                        <hr />
                        <img class="img-fluid" src="http://via.placeholder.com/250x100" alt="..." />

                        <p>
                            @item.Aciklama
                        </p>
                        @Html.ActionLink("Düzenle", "Edit", "Blog", new { id = item.Id }, new { @class = "btn btn-warning" })
                        <hr />
                        @*<button class="btn btn-primary">Daha Fazla...</button>*@
                    </div>


                }
            }
        </div>
    </div>
</div>

