@model deneme_projesi.Models.Admin
@{
    Layout = null;

}

<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/admin giris.css" />*@
    <link rel="stylesheet" type="text/css" href="~/Content/admin giris.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>
        Giriş Ekranı
    </title>
</head>

<body class="text-center">

    <main class="form-signin">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <img class="mb-4" src="~/img/Karliah.png" alt="" width="72" height="57" />
            <h1 class="h3 mb-3 fw-normal">Admin Girişi</h1>
            @*@Html.Label("Kullanıcı Adı", new { @class = "visually-hidden" })*@
            <label for="inputEmail" class="visually-hidden">Email address</label>
            @Html.TextBoxFor(i => i.KullanıcıAdi, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
            @*<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>*@
            <label for="inputPassword" class="visually-hidden">Password</label>
            @Html.TextBoxFor(i => i.sifre, new { @class = "form-control", placeholder = "Şifre", type = "password" ,id = "inputPassword" })
            @*<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>*@
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year -Karliah Blog Sitesi</p>
        }
        @if (ViewBag.hata != null)
        {
            <div class="alert alert-danger" role="alert">@ViewBag.hata</div>
        }



    </main>



    </body>

</html>
